.table_projet {
    border-collapse: collapse;
    border-spacing: 0;
    width: 80%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    

  

   /*/* border: 3px solid #00C853;**/

}
.table_projet  th{
     /*border: 1px solid #00C853;*/
     background-color:#f2f2f2;
     text-align: center;
    padding: 1%;
    
}
.table_projet  td {
    border: none;
    text-align: left;
    padding: 1%;
    border-top: 0.1em solid black;

}


#add_projet{
    margin: 10%;
     width:80%;

}



.commentaire{
    max-height: 45em;
    overflow-y: scroll;
    padding: 2em;
}

ul, ol, li {
    
  
margin-left: 2%;

}

.center_text{
    text-align: center;
}
.acteur{
    padding: 5%;
}

.select_acteur{
width: 100%;
padding:2%;
}