fieldset{
	border-color:#F5F5F5;
	border-style : solid;
	border-radius: 25px;
	/*shadow*/
	padding-left: 5%;
	font-size: 1.2em;


}
form{

	margin-right:5%;
	margin-left:5%;
	text-align: center;
	margin-bottom: 10%;

}
label{


	width: 100%;
	float: left;



}
input{

	margin: 2%;
	width:50%;
}

#recherche{
	border-color:#F5F5F5;
	border-style : solid;
	border-radius: 25px;
	padding-left: 5%;
	width:100%;
	height:2em;
	
}

