* {
	margin: 0;
	padding: 0;
}
html {
	background-color: #fff;
	height: 100%;
}
body {
	color: #333333;
	font: 0.75em/1.5em Arial,sans-serif;
}
.container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	width: 96%;
}

#banner{	

	width:100%;
}

#banner img{
	width: 100%;
	display: block;
	max-height: 20em;
}



.success{
	font-size:1.2em;
	border: 0.1em solid;
	margin: 3%;
	padding:1%;
	color: #4F8A10;
	background-color: #DFF2BF;
	text-align: center;
}

.warning{
	text-align: center;
	font-size:1.2em;
	border: 0.1em solid;
	margin: 10%;
	padding:1%;
	color: #9F6000;
	background-color: #FEEFB3;
}


.error{
	font-size:1.2em;
	text-align: center;
	border: 0.1em solid;
	margin: 2%;
	padding:1%;
	color: #D8000C;
	background-color: #FFBABA;
}


h1{
	text-align: center;
	margin: 3%;
}
footer{  
	background-color: #333333;
	color: white;
	width: 100%;
	height: auto;
	bottom: 0;
	left: 0;
	right: 0;  
	text-align: center;
	position: fixed;

}

.warning_information{
	text-align: left;
	font-size:1.2em;
	width: 80%;
	padding:1%;
	margin: auto;
	color: #9F6000;
	background-color: #FEEFB3;

}



h2 { 
	
	text-align: center;
	margin: 2%;
  	text-decoration: underline;}
  	pre{
  		color: red;
  		font-size: 1.5em;
  	}
