/* common and top level styles */
.menu span {
	display: none;/*clic sur accueil -> on fait disparaitre le sous menu*/
}
.menu, .menu ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}
.menu {
	background-color: #F5F5F5;
	border-bottom: 5px solid #333333;
	float: left;
	margin-left: 1%;
	margin-right: 1%;
	position: relative;
	width: 98%;
	margin-bottom: 5%;
}
.menu ul.sous-menu {
	background-color: #FFFFFF;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	color: #333333;
	display: none;
	left: 0;
	padding: 2%;
	position: absolute;
	top: 54px;
	width: 96%;
}
.menu > li {
	border-bottom: 5px solid transparent;
	float: left;
	margin-bottom: -5px;
	text-align: left;
	-moz-transition: all 300ms ease-in-out 0s;
	-ms-transition: all 300ms ease-in-out 0s;
	-o-transition: all 300ms ease-in-out 0s;
	-webkit-transition: all 300ms ease-in-out 0s;
	transition: all 300ms ease-in-out 0s;
}
.menu li a {
	display: block;
	text-decoration: none;
	-moz-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
	-ms-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
	-o-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
	-webkit-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
	transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
	white-space: normal;
}
.menu > li > a {
	color: #333333;
	display: block;
	font-size: 1.3em;
	line-height: 49px;
	padding: 0 15px;
	text-transform: uppercase;
}
.menu > li:hover > a, .menu > a:hover {
	background-color: #F55856;
	color: #FFFFFF;
}
.menu li.active > a {
	background-color: #333333;
	color: #FFFFFF;
}
/* submenu */
.menu li:hover ul.sous-menu {
	display: block;
}
.menu ul.sous-menu > li {
	display: inline-block;
	float: none;
	padding: 10px 1%;
	vertical-align: top;
	width: 33%;
}
.menu ul.sous-menu > li a {
	color: #777777;
	line-height: 20px;
}
.menu ul li a:hover {
	color: #F55856;
}
.menu ul.sous-menu > li > a {
	font-size: 1.3em;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.menu ul.sous-menu > li li {
	float: none;
	padding-left: 8px;
	-moz-transition: padding 150ms ease-out 0s;
	-ms-transition: padding 150ms ease-out 0s;
	-o-transition: padding 150ms ease-out 0s;
	-webkit-transition: padding 150ms ease-out 0s;
	transition: padding 150ms ease-out 0s;
}
.menu ul.sous-menu > li li:hover {
	padding-left: 15px;
}



/* responsive rules */
@media all and (max-width : 980px) {
	.menu > li {
		float: none;
		border-bottom: 0;
		margin-bottom: 0;
	}
	.menu ul.sous-menu {
		position: relative;
		top: 0;
	}
	.menu li:hover ul.sous-menu {
		display: none;
	}
	.menu li #pathologie:target + ul.sous-menu,
	.menu li #espace-membres:target + ul.sous-menu {
		/*clic sur pathotlogie ou espaces membres affichage des sous-menu*/
		display: block;
	}
	.menu ul.sous-menu > li {
		display: block;
		width: auto;
	}
}
