 .rss {
background:#F5F5F5;
border:1% solid #C0C0C0;
color:#404040;
padding:2%;
margin:2%;

/*css3*//*
-moz-box-shadow:3% 3% 6% 0 #A9A9A9;
-webkit-box-shadow:3% 3% 6% #A9A9A9;
box-shadow: 3% 6% 0 #A9A9A9;*/
border-left:1em  solid grey;

}





.link_rss{
	text-align: right;
}

.content_rss_flux{
	  overflow-y: auto;
	 margin-bottom:20%;
	 margin: 0 auto;
	 height:35em;

	  width: 70%;

	   

}




a.link_cat {
clear:both;
position:absolute;
margin-top:5px;
margin-left: 10px;
margin-bottom:10px;
}
a.link_cat:link {
font-weight:bold;
font-size:16px;
color: #701214;
text-decoration: none;
}

a.link_cat:visited {
font-weight:bold;
font-size:16px;
color: #701214;
text-decoration: none;
}
a.link_cat:hover {
font-size:16px;
font-weight:bold;
color: #bc1020;
text-decoration: none;
}
a.link_cat:active {
font-size:16px; 
font-weight:bold;
color: #500; 
text-decoration: none; 
background-color: transparent 
}


#cat_title{
position:relative;
vertical-align:middle;
font-size:16px;
font-family:"Times New Roman", Times, serif;
font-variant:small-caps;
color:#CF5310;
background-color:#F6E4AE;
border-bottom: 1px solid #f1942d;
border-right: 1px solid #f1942d;
font-weight:bold;
font-style:normal;
margin:1%;
height: auto;
}


.bloc{
clear:both;

position:relative;
float: none;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
margin-top:10px;
margin-left:57px;
margin-bottom:15px;

background-color:#FFFFF4;
width:30%;
border: 1px solid #f1942d;

}

.blocR{
position:relative;
float: left;
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
margin-top:10px;
margin-left:27px;
margin-bottom:15px;

background-color:#FFFFF4;
width:30%;
border: 1px solid #f1942d;
height: 110px;
}

.cat-ss-titre{
position: absolute;
padding-right: 3px;
padding-left: 3px;
margin-left: 3px;
margin-right: 3px;
bottom:3px;
font-size:10px;
color:#877644;
width: 80%;
border-top: 1px solid #efe5c6;
background-color:#FFFFF4;
}









P{
position:relative;
padding-left:10px;
padding-right:10px;
font-size:12px;
font-family:Arial, Helvetica, sans-serif;

}


.p_bloc{
color:#993333;
text-align:justify;
}
.cp_bloc{
color:#993333;
padding-left:10px;
padding-right:10px;
padding-top:3px;
font-size:12px;
font-family:Arial, Helvetica, sans-serif;
text-align:justify;
}





