

#container_liste{
     margin: 10%;
     width:80%;
     height:50em;

}

.table-container {
    height: 50em;
    padding: 10px;
    margin-bottom: 50px;
}

.table-container th{
     /*border: 1px solid #00C853;*/
     background-color:#f2f2f2;
     text-align: center;
     padding: 1em;
}
.table-container td {
    border: none;
    text-align: center;
    padding:  1em;
}



.table-container table {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}
.table-container table thead {
    flex: 0 0 auto;
    width: 100%;
}
.table-container table tbody {
    display: block;
    flex: 1 1 auto;
    overflow-y: scroll;
}
.table-container table tbody tr {
    width: 100%;
}
.table-container table thead, .table-container table tbody tr {
    display: table;
    table-layout: fixed;
}

 .table-container tr:nth-child(even){background-color:#E8F5E9}





.table_projet {
    border-collapse: collapse;
    border-spacing: 0;
    width: 80%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    

  

   /*/* border: 3px solid #00C853;**/

}
.table_projet  th{
     /*border: 1px solid #00C853;*/
     background-color:#f2f2f2;
     text-align: center;
    padding: 1%;
    
}
.table_projet  td {
    border: none;
    text-align: left;
    padding: 1%;
    border-top: 0.1em solid black;

}


#add_projet{
    margin: 10%;
     width:80%;

}



.commentaire{
    max-height: 45em;
    overflow-y: scroll;
    padding: 2em;
}

ul, ol, li {
    
  
margin-left: 2%;

}