


{if isset($rss_flux)}
	<h1>Flux <abbr title="Really Simple Syndication">RSS</abbr></h1>
    <div class="success">{count($rss_flux)} flux RSS trouvés</div>
 {foreach $rss_flux as $entry}
    <div class="rss">
        <h3>{$entry['title']|truncate:50}</h3>
        <p>{$entry['description']|truncate:100}</p>
        <p>{$entry['title']|truncate:50}</p>
        <p><a target="_blank" href="{$entry['link']}">Accéder</a></p>
    </div>

    {/foreach}




</div>
{else}
<div class="error">Impossible de récupérer les flux RSS</div>
{/if}