{include file="header.tpl"}

<nav>

	<ul id="lien" class="lien">
					<li><a href="https://www.alsacreations.com" accesskey="h">https://www.alsacreations.com</a></li>
					<li><a href="https://developer.mozilla.org/fr/docs/Web" accesskey="j">https://developer.mozilla.org/fr/docs/Web</a></li>		
					<li><a href="https://validator.w3.org" accesskey="k">https://validator.w3.org</a></li>	

	</ul>
</nav>

{include file="footer.tpl"}